* {
    font-family: 'Work Sans', sans-serif;
    margin:0%; 
    padding: 0%; 
    font-size: 100%; 
    border:none; 
    outline:none; 
    font-weight: 300; 
    box-sizing: border-box; 
}

/* ------------ PÁGINA FILIAL --------- */ 

body {
    background-color: rgb(176, 223, 231);
}

form {
    background-color: white;
    padding: 50px;
    border: solid 2px #666;
    border-radius: 50px;
    width: 500px;
    clear: both;
    margin: 0 auto;
}

fieldset {
    width: 250px;
    clear: both;
    margin: 0 auto;
}

fieldset input, select {
    margin: 15px 0 15px 0;
    border: solid 1px rgb(159, 140, 243);
    padding: 8px;
    border-radius: 25px;
    margin-left: -25%;
    width: 150%;
    clear: both;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

fieldset label {
    color: #666;
    font-weight: bold;
    margin-left: -25%;
}

.topform {
    text-align: center;
    margin: 15px 0 15px 0;
}
.topform h1 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}

.topform h2 {
    font-size: 20px;
}

.button-submit {
    margin-left: 7%;
    margin-top: 15px;
    padding: 15px;
    border-radius: 50px;
    display: block;
    width: 350px;
    font-weight: bold;
    background-color: rgb(112, 131, 243);
}

.button-submit:hover {
    transition: 1s;
    cursor: pointer;
    background-color: teal;
}

/*==========RODAPÉ==========*/
.rodape{
    margin-top: 50px;
    background-color:#333; 
    border-top: solid; 
    border-bottom:solid;
    border-color: black; 
    text-align: center;
  }
  .icones-sociais {
      margin-top: 20px;
      margin-left: 45px;

  }
  .icones-sociais a{
      font-size: 3.5em; 
      color:rgba(255,255,255,0.7);
      margin-right: 50px
  }
  .icones-sociais a:hover{
      color: rgb(255,255,255);
  }
  .copyright {
      color: rgba(255,255,255,0.7);
  }


